@model BookViewModel

<h2>Book Details</h2>
<hr />

<div class="card">

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.Title" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">
                    <strong>Description:</strong> @Model.Description
                </p>
                <p class="card-text">
                    <strong>Publisher:</strong> @Model.Publisher
                </p>
                <p class="card-text">
                    <strong>Page Count:</strong> @Model.PageCount
                </p>
                <p class="card-text">
                    <strong>Created Date:</strong> @Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                </p>
                <p class="card-text">
                    <strong>Updated Date:</strong>
                    @if (Model.UpdateDate.HasValue)
                    {
                        @Model.UpdateDate.Value.ToString("dd/MM/yyyy HH:mm")
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </p>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center">
            <a class="btn btn-outline-primary w-100 mb-2" asp-action="List" asp-controller="Book">Back to List</a>
            <br />
            <a class="btn btn-outline-warning w-100 mb-2" asp-action="Update" asp-controller="Book" asp-route-id="@Model.Id">Update Book</a>
            <br />
            <form asp-action="Delete" asp-controller="Book" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-outline-danger w-100" onclick="return confirm('Are you sure you want to delete this book?');">Delete Book</button>
            </form>
        </div>
    </div>
</div>